{% extends 'main/layout.html' %}

{% block title %}Homepage content{% endblock %}

{% block content %}
<main>
    <h1>Homepage content</h1>

    <p>You can edit the content that appears on your homepage here. You can use <a href="https://daringfireball.net/projects/markdown/syntax" target="_blank" rel="noopener">Markdown</a> to format your content.</p>
    <p>If you want your homepage to show your latest posts instead of this content, you can enable that option below.</p>

    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Save">
    </form>
</main>
{% endblock content %}
